<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yekuwilfred.checkam">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJzHnkZJrrkRMPdnCiKOpZXGo81EUj5tQ"/>
        <activity
            android:name="com.yekuwilfred.checkam.MainActivity"
            android:label="@string/title_activity_main">
        </activity>
        <activity android:name=".login.LoginActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
